<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <style>
    a{
      color: #111;
    }
  </style>  
</head>

<body>
  <div class="services-single">
    <div class="sidebar-widget brochures-widget">
      <ul class="files" id="list-law-data">
        <li>
          <a href="#" data-toggle="collapse" data-target="#collapse_35" aria-expanded="false"
            aria-controls="collapse_35" style="font-weight:bold;font-size:14px;">Hiến ph&#225;p NƯỚC VIỆT NAM D&#194;N
            CHỦ CỘNG H&#210;A năm 1946</a>
          <ul class="files collapse sidebar-widget brochures-widget" id="collapse_35" data-id="35"
            style="margin-bottom: 0px; padding-left:20px;">
            <li><a href="#" onclick="ViewDetail(event,7)" style="font-weight:normal;font-size:14px;">Giới thiệu</a></li>
            <li><a href="#" onclick="ViewDetail(event,5)" style="font-weight:normal;font-size:14px;">Chương 1:
                CH&#205;NH THỂ</a></li>
            <li><a href="#" onclick="ViewDetail(event,6)" style="font-weight:normal;font-size:14px;">Chương 2: NGHĨA VỤ
                V&#192; QUYỀN LỢI C&#212;NG D&#194;N</a></li>
            <li><a href="#" onclick="ViewDetail(event,105)" style="font-weight:normal;font-size:14px;">Chương 3: NGHỊ
                VIỆN NH&#194;N D&#194;N</a></li>
            <li><a href="#" onclick="ViewDetail(event,109)" style="font-weight:normal;font-size:14px;">Chương 4:
                CH&#205;NH PHỦ</a></li>
            <li><a href="#" onclick="ViewDetail(event,111)" style="font-weight:normal;font-size:14px;">Chương 5: HỘI
                ĐỒNG NH&#194;N D&#194;N V&#192; UỶ BAN H&#192;NH CH&#205;NH</a></li>
            <li><a href="#" onclick="ViewDetail(event,114)" style="font-weight:normal;font-size:14px;">Chương 6: CƠ QUAN
                TƯ PH&#193;P</a></li>
            <li><a href="#" onclick="ViewDetail(event,117)" style="font-weight:normal;font-size:14px;">Chương 7: SỬA ĐỔI
                HIẾN PH&#193;P</a></li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="collapse" data-target="#collapse_36" aria-expanded="false"
            aria-controls="collapse_36" style="font-weight:bold;font-size:14px;">Hiến ph&#225;p NƯỚC VIỆT NAM D&#194;N
            CHỦ CỘNG H&#210;A năm 1959</a>
          <ul class="files collapse sidebar-widget brochures-widget" id="collapse_36" data-id="36"
            style="margin-bottom: 0px; padding-left:20px;">
            <li><a href="#" onclick="ViewDetail(event,125)" style="font-weight:normal;font-size:14px;">Giới thiệu</a>
            </li>
            <li><a href="#" onclick="ViewDetail(event,127)" style="font-weight:normal;font-size:14px;">Chương 1: NƯỚC
                VIỆT NAM D&#194;N CHỦ CỘNG HO&#192;</a></li>
            <li><a href="#" onclick="ViewDetail(event,129)" style="font-weight:normal;font-size:14px;">Chương 2: CHẾ ĐỘ
                KINH TẾ V&#192; X&#195; HỘI</a></li>
            <li><a href="#" onclick="ViewDetail(event,131)" style="font-weight:normal;font-size:14px;">Chương 3: QUYỀN
                LỢI V&#192; NGHĨA VỤ CƠ BẢN CỦA C&#212;NG D&#194;N</a></li>
            <li><a href="#" onclick="ViewDetail(event,134)" style="font-weight:normal;font-size:14px;">Chương 4: QUỐC
                HỘI</a></li>
            <li><a href="#" onclick="ViewDetail(event,147)" style="font-weight:normal;font-size:14px;">Chương 5: CHỦ
                TỊCH NƯỚC VIỆT NAM D&#194;N CHỦ CỘNG HO&#192;</a></li>
            <li><a href="#" onclick="ViewDetail(event,150)" style="font-weight:normal;font-size:14px;">Chương 6: HỘI
                ĐỒNG CH&#205;NH PHỦ</a></li>
            <li><a href="#" onclick="ViewDetail(event,154)" style="font-weight:normal;font-size:14px;">Chương 7: HỘI
                ĐỒNG NH&#194;N D&#194;N V&#192; UỶ BAN H&#192;NH CH&#205;NH ĐỊA PHƯƠNG C&#193;C CẤP</a></li>
            <li><a href="#" onclick="ViewDetail(event,158)" style="font-weight:normal;font-size:14px;">Chương 8:
                TO&#192; &#193;N NH&#194;N D&#194;N V&#192; VIỆN KIỂM S&#193;T NH&#194;N D&#194;N TO&#192; &#193;N
                NH&#194;N D&#194;N</a></li>
            <li><a href="#" onclick="ViewDetail(event,164)" style="font-weight:normal;font-size:14px;">Chương 9: QUỐC KỲ
                - QUỐC HUY - THỦ Đ&#212;</a></li>
            <li><a href="#" onclick="ViewDetail(event,166)" style="font-weight:normal;font-size:14px;">Chương 10: SỬA
                ĐỔI HIẾN PH&#193;P</a></li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="collapse" data-target="#collapse_37" aria-expanded="false"
            aria-controls="collapse_37" style="font-weight:bold;font-size:14px;">Hiến ph&#225;p NƯỚC CỘNG H&#210;A
            X&#195; HỘI CHỦ NGHĨA VIỆT NAM năm 1980</a>
          <ul class="files collapse sidebar-widget brochures-widget" id="collapse_37" data-id="37"
            style="margin-bottom: 0px; padding-left:20px;">
            <li><a href="#" onclick="ViewDetail(event,171)" style="font-weight:normal;font-size:14px;">Giới thiệu</a>
            </li>
            <li><a href="#" onclick="ViewDetail(event,174)" style="font-weight:normal;font-size:14px;">Chương 1: NƯỚC
                CỘNG HO&#192; X&#195; HỘI CHỦ NGHĨA VIỆT NAM - CHẾ ĐỘ CH&#205;NH TRỊ</a></li>
            <li><a href="#" onclick="ViewDetail(event,178)" style="font-weight:normal;font-size:14px;">Chương 2: CHẾ ĐỘ
                KINH TẾ</a></li>
            <li><a href="#" onclick="ViewDetail(event,182)" style="font-weight:normal;font-size:14px;">Chương 3: VĂN
                HO&#193;, GI&#193;O DỤC, KHOA HỌC, KỸ THUẬT</a></li>
            <li><a href="#" onclick="ViewDetail(event,185)" style="font-weight:normal;font-size:14px;">Chương 4: BẢO VỆ
                TỔ QUỐC X&#195; HỘI CHỦ NGHĨA</a></li>
            <li><a href="#" onclick="ViewDetail(event,189)" style="font-weight:normal;font-size:14px;">Chương 5: QUYỀN
                V&#192; NGHĨA VỤ CƠ BẢN CỦA C&#212;NG D&#194;N</a></li>
            <li><a href="#" onclick="ViewDetail(event,191)" style="font-weight:normal;font-size:14px;">Chương 6: QUỐC
                HỘI</a></li>
            <li><a href="#" onclick="ViewDetail(event,195)" style="font-weight:normal;font-size:14px;">Chương 7: HỘI
                ĐỒNG NH&#192; NƯỚC</a></li>
            <li><a href="#" onclick="ViewDetail(event,200)" style="font-weight:normal;font-size:14px;">Chương 8: HỘI
                ĐỒNG BỘ TRƯỞNG</a></li>
            <li><a href="#" onclick="ViewDetail(event,201)" style="font-weight:normal;font-size:14px;">Chương 9: HỘI
                ĐỒNG NH&#194;N D&#194;N V&#192; UỶ BAN NH&#194;N D&#194;N</a></li>
            <li><a href="#" onclick="ViewDetail(event,204)" style="font-weight:normal;font-size:14px;">Chương 10:
                TO&#192; &#193;N NH&#194;N D&#194;N V&#192; VIỆN KIỂM S&#193;T NH&#194;N D&#194;N</a></li>
            <li><a href="#" onclick="ViewDetail(event,207)" style="font-weight:normal;font-size:14px;">Chương 11: QUỐC
                KỲ, QUỐC HUY, QUỐC CA, THỦ Đ&#212;</a></li>
            <li><a href="#" onclick="ViewDetail(event,210)" style="font-weight:normal;font-size:14px;">Chương 12: HIỆU
                LỰC CỦA HIẾN PH&#193;P V&#192; VIỆC SỬA ĐỔI HIẾN PH&#193;P</a></li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="collapse" data-target="#collapse_38" aria-expanded="false"
            aria-controls="collapse_38" style="font-weight:bold;font-size:14px;">Hiến ph&#225;p NƯỚC CỘNG H&#210;A
            X&#195; HỘI CHỦ NGHĨA VIỆT NAM năm 1992</a>
          <ul class="files collapse sidebar-widget brochures-widget" id="collapse_38" data-id="38"
            style="margin-bottom: 0px; padding-left:20px;">
            <li><a href="#" onclick="ViewDetail(event,220)" style="font-weight:normal;font-size:14px;">Giới thiệu</a>
            </li>
            <li><a href="#" onclick="ViewDetail(event,226)" style="font-weight:normal;font-size:14px;">Chương 1: NƯỚC
                CỘNG HO&#192; X&#195; HỘI CHỦ NGHĨA VIỆT NAM - CHẾ ĐỘ CH&#205;NH TRỊ</a></li>
            <li><a href="#" onclick="ViewDetail(event,229)" style="font-weight:normal;font-size:14px;">Chương 2: CHẾ ĐỘ
                KINH TẾ</a></li>
            <li><a href="#" onclick="ViewDetail(event,230)" style="font-weight:normal;font-size:14px;">Chương 3: VĂN
                H&#211;A, GI&#193;O DỤC, KHOA HỌC, C&#212;NG NGHỆ</a></li>
            <li><a href="#" onclick="ViewDetail(event,234)" style="font-weight:normal;font-size:14px;">Chương 4: BẢO VỆ
                TỔ QUỐC VIỆT NAM X&#195; HỘI CHỦ NGHĨA</a></li>
            <li><a href="#" onclick="ViewDetail(event,238)" style="font-weight:normal;font-size:14px;">Chương 5: QUYỀN
                V&#192; NGHĨA VỤ CƠ BẢN CỦA C&#212;NG D&#194;N</a></li>
            <li><a href="#" onclick="ViewDetail(event,243)" style="font-weight:normal;font-size:14px;">Chương 6: QUỐC
                HỘI</a></li>
            <li><a href="#" onclick="ViewDetail(event,244)" style="font-weight:normal;font-size:14px;">Chương 7: CHỦ
                TỊCH NƯỚC </a></li>
            <li><a href="#" onclick="ViewDetail(event,254)" style="font-weight:normal;font-size:14px;">Chương 8:
                CH&#205;NH PHỦ</a></li>
            <li><a href="#" onclick="ViewDetail(event,256)" style="font-weight:normal;font-size:14px;">Chương 9: HỘI
                ĐỒNG NH&#194;N D&#194;N V&#192; UỶ BAN NH&#194;N D&#194;N</a></li>
            <li><a href="#" onclick="ViewDetail(event,260)" style="font-weight:normal;font-size:14px;">Chương 10:
                TO&#192; &#193;N NH&#194;N D&#194;N V&#192; VIỆN KIỂM S&#193;T NH&#194;N D&#194;N</a></li>
            <li><a href="#" onclick="ViewDetail(event,266)" style="font-weight:normal;font-size:14px;">Chương 11: QUỐC
                KỲ, QUỐC HUY, QUỐC CA, THỦ Đ&#212;, NGAỲ QUỐC KH&#193;NH</a></li>
            <li><a href="#" onclick="ViewDetail(event,269)" style="font-weight:normal;font-size:14px;">Chương 12: HIỆU
                LỰC CỦA HIẾN PH&#193;P V&#192; VIỆC SỬA ĐỔI HIẾN PH&#193;P</a></li>
          </ul>
        </li>
        <li>
          <a href="#" data-toggle="collapse" data-target="#collapse_7" aria-expanded="false" aria-controls="collapse_7"
            style="font-weight:bold;font-size:14px;">Hiến ph&#225;p NƯỚC CỘNG H&#210;A X&#195; HỘI CHỦ NGHĨA VIỆT NAM
            năm 2013</a>
          <ul class="files collapse sidebar-widget brochures-widget" id="collapse_7" data-id="7"
            style="margin-bottom: 0px; padding-left:20px;">
            <li><a href="#" onclick="ViewDetail(event,278)" style="font-weight:normal;font-size:14px;">Giới thiệu</a>
            </li>
            <li><a href="#" onclick="ViewDetail(event,282)" style="font-weight:normal;font-size:14px;">Chương 1: CHẾ ĐỘ
                CH&#205;NH TRỊ</a></li>
            <li><a href="#" onclick="ViewDetail(event,287)" style="font-weight:normal;font-size:14px;">Chương 2: QUYỀN
                CON NGƯỜI, QUYỀN V&#192; NGHĨA VỤ CƠ BẢN CỦA C&#212;NG D&#194;N</a></li>
            <li><a href="#" onclick="ViewDetail(event,291)" style="font-weight:normal;font-size:14px;">Chương 3: KINH
                TẾ, X&#195; HỘI, VĂN H&#211;A, GI&#193;O DỤC, KHOA HỌC, C&#212;NG NGHỆ V&#192; M&#212;I TRƯỜNG</a></li>
            <li><a href="#" onclick="ViewDetail(event,294)" style="font-weight:normal;font-size:14px;">Chương 4: BẢO
                V&#202;̣ T&#212;̉ QU&#212;́C</a></li>
            <li><a href="#" onclick="ViewDetail(event,300)" style="font-weight:normal;font-size:14px;">Chương 5: QUỐC
                HỘI</a></li>
            <li><a href="#" onclick="ViewDetail(event,304)" style="font-weight:normal;font-size:14px;">Chương 6: CHỦ
                TỊCH NƯỚC</a></li>
            <li><a href="#" onclick="ViewDetail(event,308)" style="font-weight:normal;font-size:14px;">Chương 7:
                CH&#205;NH PHỦ</a></li>
            <li><a href="#" onclick="ViewDetail(event,310)" style="font-weight:normal;font-size:14px;">Chương 8:
                T&#210;A &#193;N NH&#194;N D&#194;N, VIỆN KIỂM S&#193;T NH&#194;N D&#194;N</a></li>
            <li><a href="#" onclick="ViewDetail(event,313)" style="font-weight:normal;font-size:14px;">Chương 9:
                CH&#205;NH QUYỀN ĐỊA PHƯƠNG</a></li>
            <li><a href="#" onclick="ViewDetail(event,316)" style="font-weight:normal;font-size:14px;">Chương 10: HỘI
                ĐỒNG BẦU CỬ QUỐC GIA, KIỂM TO&#193;N NH&#192; NƯỚC</a></li>
            <li><a href="#" onclick="ViewDetail(event,317)" style="font-weight:normal;font-size:14px;">Chương 11: HIỆU
                LỰC CỦA HIẾN PH&#193;P V&#192; VIỆC SỬA ĐỔI HIẾN PH&#193;P</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <script>
    function ViewDetail(e, id){
      e.preventDefault();
      window.open( 'http://localhost:3000/download/law/detail/'+id, "_blank");
    }
  </script>


</body>

</html>